fastapi
uvicorn[standard]
pymongo
pydantic>=2.1.1
python-dotenv
passlib[bcrypt]
PyJWT
pdfplumber
google-generativeai
python-docx
python-multipart
language-tool-python
librosa
# Specify the extra index URL for CPU-only PyTorch
-f https://download.pytorch.org/whl/torch_stable.html

torch==2.1.0+cpu
torchaudio==2.1.0+cpu
transformer
speechrecognition
speechbrain
email-validator
