fastapi
uvicorn[standard]
pymongo
pydantic>=2.1.1
python-dotenv
passlib[bcrypt]
PyJWT
pdfplumber
google-generativeai
python-docx
python-multipart
language-tool-python
librosa
torch
torchaudio
transformers
speechrecognition
speechbrain
email-validator
